body {
    background-color: darkblue;
    color: whitesmoke;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    font-weight: bold;
    padding: 5px 20px;
    background-color: aquamarine;
    border-style: none;
    color : darkblue;
}

input {
    color : darkblue;
    height: 20px;
}
